.nouislider-element-wrapper {
  min-width: 320px;
  min-height: 120px;
  margin: 0 1.5rem 1rem 1rem;
}
/* Only showing tooltips when sliding handles */
.nouislider-element-wrapper .noUi-tooltip {
  display: none;
}
.nouislider-element-wrapper .noUi-active .noUi-tooltip {
  display: block;
}
/* Removing year label padding */
.nouislider-element-wrapper .form-type-select.col-auto {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0.4rem;
}
/* noUI connect color */
.noUi-connect {
  background: rgba(167,191,57,1);
}
/** Reduce the size of the pips */
.nouislider-element-wrapper .noUi-marker-horizontal.noUi-marker-large {
  height: 20px;
}
.nouislider-element-wrapper .noUi-marker-horizontal.noUi-marker-sub {
  height: 8px;
}
